annotated-doc
annotated-types
anyio
asyncpg
click
fastapi
greenlet
h11
idna
passlib
psycopg2-binary
pydantic
pydantic_core
SQLAlchemy
pgvector
starlette
typing-inspection
typing_extensions
uvicorn
torch==2.2.2
sentence-transformers==2.7.0
transformers==4.39.3
pandas
numpy<2.0.0